@model PagedList.IPagedList<Model.Models.Book>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Assets/css/homestyle.css" rel="stylesheet" />
<div class="col-lg-7 mt-lg-5 ml-3" id="main-content">
    @{Html.RenderAction("PartialIndex", "Home");}
</div>

