
@{
    ViewBag.Title = "TestApi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-info col mt-lg-5">
    <h1 class="display-4" id="usdvnd">USD -> VND: </h1>
    <button class="btn btn-info"  id="showinfo-btn">Show Info</button> 
    <hr/>
    <table id="example"  class="display" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category Name</th>
                <th>Author Name</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Publisher</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody id="bookstocks-tbody">
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Category Name</td>
                <td>Author Name</td>
                <td>ISBN</td>
                <td>Price</td>
                <td>Publisher</td>
                <td>Quantity</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Category Name</td>
                <td>Author Name</td>
                <td>ISBN</td>
                <td>Price</td>
                <td>Publisher</td>
                <td>Quantity</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category Name</th>
                <th>Author Name</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Publisher</th>
                <th>Quantity</th>
            </tr>
        </tfoot>
    </table>

</div>
<script>
    function GetUSD () {
        $.ajax({
            type: "GET",
            url: "https://free.currencyconverterapi.com/api/v6/convert?q=USD_VND&compact=ultra&apiKey=ab21461397b33d18d702",
            cache: "false",
            success: function (data) {
                $('#usdvnd').append(data.USD_VND);
                alert(data.USD_VND);
            }
        });
    }
    GetUSD();
</script>
<script src="~/Assets/js/trungjs/webapi/trung_testapi_index.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
    $('#showinfo-btn').off("click").on("click", bookStocks.getData);

</script>